root = true

[*]
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
indent_size = 4
csharp_style_namespace_declarations = file_scoped:error
dotnet_style_require_accessibility_modifiers = always:warning
csharp_using_directive_placement = outside_namespace:warning
dotnet_diagnostic.CS1591.severity = warning

[*.{json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
